:root {
  --background: #121212;
  --foreground: #ffffff;
}

body {
  background-color: #06080C;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

html {
  overflow-y: scroll;
}

@font-face {
  font-family: 'Tactic Sans';
  src: url('/public/fonts/TacticSans-BlkIt.woff2') format('woff2'),
       url('/public/fonts/TacticSans-BlkIt.woff') format('woff');
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap')
