.matches-section
  margin-top: 20px
  padding: 0 42px

.match-cards-wrapper
  display: flex
  flex-direction: column

.match-card
  position: relative
  display: flex
  flex-direction: row
  justify-content: space-between
  background: #0B0E12
  border-radius: 8px
  padding: 16px
  margin-bottom: 12px
  cursor: pointer
  overflow: hidden
  transition: background-color 0.3s ease-in-out

.match-card:hover
  background: #0F1318

.match-card::before
  content: ""
  position: absolute
  top: 0
  left: -100%
  width: 100%
  height: 100%
  background: linear-gradient(90deg, #0A0E12 0%, #0F1318 100%)
  background-size: 100% auto
  background-position: left top
  transition: all 0.65s ease-in-out

.match-card:hover::before
  left: 0
  background-position: right bottom

.match-card:not(:hover)::before
  transition: all 0.65s ease-in-out
  left: -100%
  background-position: left top

.match-card__content,
.match-card__details
  position: relative
  z-index: 1

.match-card__arrow
  position: relative
  z-index: 1
  transition: transform 0.3s ease

.match-card__arrow
  transform: rotate(180deg)
  transform-origin: center
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55)

.match-card__arrow.expanded
  transform: rotate(180deg) rotateX(180deg)

.match-card__arrow-container.mobile
  display: none

.match-card__arrow-container.desktop
  margin-left: 12px

.match-card__content
  display: flex
  flex-direction: column
  width: 100%

.match-card__content--top
  display: flex
  align-items: center
  justify-content: space-between

.match-card__content--bot
  // Блок с деталями располагается сразу под верхним блоком

.match-card__team
  display: flex
  align-items: center

.match-card__team--left
  flex: 1
  justify-content: flex-start

.match-card__team--right
  flex: 1
  justify-content: flex-end

.match-card__logo
  border-radius: 50%
  object-fit: cover
  margin-right: 14px

.match-card__team--right .match-card__logo
  margin-right: 0
  margin-left: 14px

.match-card__name
  color: #fff
  font-family: 'Inter', sans-serif
  font-weight: 600
  font-size: 16px

.match-card__score
  color: #fff
  font-family: 'Inter', sans-serif
  font-weight: 600
  font-size: 20px

.match-card__status
  color: #fff
  border-radius: 4px
  gap: 10px
  margin-top: 4px
  display: flex
  align-items: center
  justify-content: center
  font-family: 'Inter', sans-serif
  font-weight: 600
  font-size: 12px

.match-card__center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  flex: 1

.match-card__status--live
  background-color: #43AD28
  padding: 6px 34px 6px 34px

.match-card__status--finished
  background-color: #EB0237
  padding: 6px 21px 6px 21px

.match-card__status--match-preparing
  background-color: #EB6402
  padding: 6px 8px 6px 8px

.match-card__details
  display: flex
  flex-direction: row
  max-height: 0
  overflow: hidden
  transition: max-height 0.4s ease

.match-card__details.expanded
  max-height: 500px

.match-card__details-team
  padding: 12px
  background-color: transparent
  flex: 1

.match-card__players
  display: flex
  flex-direction: row
  gap: 8px

.match-card__player
  flex: 1
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  background-color: #101318
  border-radius: 4px
  padding: 8px 24px
  box-sizing: border-box
  gap: 8px

.match-card__player-info
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%

.match-card__player-info--avatar
  border-radius: 50%
  object-fit: cover

.match-card__player-info--name
  color: #FFFFFF

.match-card__player-kills
  display: flex
  flex-direction: row
  align-items: center
  gap: 4px

.player-kills__label
  color: #FAFAFA66
  font-family: 'Inter', sans-serif
  font-weight: 500
  font-size: 14px

.player-kills__value
  color: #F2F6F6
  font-family: 'Inter', sans-serif
  font-weight: 600
  font-size: 16px

.match-card__summary
  margin-top: 8px
  padding: 14px 24px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-evenly
  background-color: #101318
  gap: 8px

.summary-item
  display: flex
  justify-content: center
  align-items: center

.summary-item__content
  display: flex
  flex-direction: row
  align-items: center
  flex: 1

.summary-item__label
  color: #FAFAFA66
  padding: 2px 4px
  font-family: 'Inter', sans-serif
  font-weight: 500
  font-size: 14px

.summary-item__value
  color: #F2F6F6
  padding: 2px 4px
  font-family: 'Inter', sans-serif
  font-weight: 600
  font-size: 16px

.match-card__divider-container
  display: none

@media screen and (max-width: 1600px)
  .match-card__details.expanded
    flex-direction: column
  .match-card__details-team:first-child
    order: 3
  .match-card__divider-container
    order: 2
    display: flex
    align-items: center
    justify-content: center
    margin: 0.5rem auto  // 0.5rem = 8px? Если базовый 16px, то 0.5rem = 8px
  .match-card__divider-container .match-card__divider
    display: block
  .match-card__details-team:nth-child(2)
    order: 3

@media screen and (max-width: 1100px)
  .matches-section
    padding: 0 12px

@media screen and (max-width: 800px)
  .match-card__player
    flex-direction: column
    align-items: center
    justify-content: center
  .match-card__arrow-container.desktop
    display: none
  .match-card__details
    display: flex
    flex-direction: column
  .match-card__arrow-container.mobile
    display: flex
    order: 4
    margin-top: 8px
    justify-content: center
    align-items: center

@media screen and (max-width: 600px)
  .match-card
    padding: 8px
    margin-bottom: 8px
  .match-card__content--top
    margin: 0 0 8px 0
  .match-card__details-team
    padding-top: 16px
    padding-left: 0
    padding-right: 0
  .match-card__status--live
    padding: 4px 23px 4px 23px
  .match-card__status--finished
    padding: 4px 10px 4px 10px
  .match-card__status--match-preparing
    padding: 4px 6px 4px 6px
  .match-card__logo
    width: 28px
    height: 28px
    margin-right: 8px
  .match-card__team--right .match-card__logo
    margin-right: 0
    margin-left: 8px
  .match-card__player
    padding: 7px 12px
  .match-card__player-info--avatar
    width: 32px
    height: 32px
  .match-card__name
    font-size: 14px
  .match-card__score
    font-size: 14px
  .match-card__player-info--name
    font-size: 14px
  .player-kills__label
    font-size: 12px
  .player-kills__value
    font-size: 14px
  .summary-item__label
    font-size: 12px
  .summary-item__value
    font-size: 14px

@media screen and (max-width: 428px)
  .header__title
    font-size: 20px
  .header__refresh-button
    height: 40px
  .drop-list-button
    padding: 12px 16px 12px 12px
  .header__refresh-content
    padding: 0 20px